<a href="https://colab.research.google.com/github/akhiilkasare/NYC-Taxi-Fare-Price-Prediction-Using-PyTorch/blob/main/NYC_Taxi_Fares_Prediction_Using_Pytorch_Classification_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch 
import torch.nn as nn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/My Drive/nyc-taxi-fare-price-pytorch/NYCTaxiFares.csv')

In [ ]:
df.head()

           pickup_datetime  fare_amount  ...  dropoff_latitude  passenger_count
0  2010-04-19 08:17:56 UTC          6.5  ...         40.744746                1
1  2010-04-17 15:43:53 UTC          6.9  ...         40.744114                1
2  2010-04-17 11:23:26 UTC         10.1  ...         40.766235                2
3  2010-04-11 21:25:03 UTC          8.9  ...         40.748192                1
4  2010-04-17 02:19:01 UTC         19.7  ...         40.743115                1

[5 rows x 8 columns]

In [ ]:
df.describe()

         fare_amount     fare_class  ...  dropoff_latitude  passenger_count
count  120000.000000  120000.000000  ...     120000.000000    120000.000000
mean       10.040326       0.333333  ...         40.751695         1.347167
std         7.500134       0.471406  ...          0.030279         0.759263
min         2.500000       0.000000  ...         40.164927         1.000000
25%         5.700000       0.000000  ...         40.735914         1.000000
50%         7.700000       0.000000  ...         40.754441         1.000000
75%        11.300000       1.000000  ...         40.768880         1.000000
max        49.900000       1.000000  ...         40.993498         5.000000

[8 rows x 7 columns]

### Converting the latitude and longitude in kms using havershine distance formula

In [ ]:
def haversine_distance(df, lat1, long1, lat2, long2):
    """
    Calculates the haversine distance between 2 sets of GPS coordinates in df
    """
    r = 6371  # average radius of Earth in kilometers
       
    phi1 = np.radians(df[lat1])  # converting the longitude and latidtude into numpy radians
    phi2 = np.radians(df[lat2])
    
    delta_phi = np.radians(df[lat2]-df[lat1])
    delta_lambda = np.radians(df[long2]-df[long1])
     
    a = np.sin(delta_phi/2)**2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = (r * c) # in kilometers

    return d

In [ ]:
df['distance_km'] = haversine_distance(df, 'pickup_latitude', 'pickup_longitude','dropoff_latitude','dropoff_longitude')

In [ ]:
df.columns

Index(['pickup_datetime', 'fare_amount', 'fare_class', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'distance_km'],
      dtype='object')

In [ ]:
df.head()

           pickup_datetime  fare_amount  ...  passenger_count  distance_km
0  2010-04-19 08:17:56 UTC          6.5  ...                1     2.126312
1  2010-04-17 15:43:53 UTC          6.9  ...                1     1.392307
2  2010-04-17 11:23:26 UTC         10.1  ...                2     3.326763
3  2010-04-11 21:25:03 UTC          8.9  ...                1     1.864129
4  2010-04-17 02:19:01 UTC         19.7  ...                1     7.231321

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_datetime    120000 non-null  object
 1   fare_amount        120000 non-null  float64
 2   fare_class         120000 non-null  int64
 3   pickup_longitude   120000 non-null  float64
 4   pickup_latitude    120000 non-null  float64
 5   dropoff_longitude  120000 non-null  float64
 6   dropoff_latitude   120000 non-null  float64
 7   passenger_count    120000 non-null  int64
 8   distance_km        120000 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 8.2+ MB

### Converting the pickup_datetime object column into date_time column

In [ ]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   pickup_datetime    120000 non-null  datetime64[ns, UTC]
 1   fare_amount        120000 non-null  float64
 2   fare_class         120000 non-null  int64
 3   pickup_longitude   120000 non-null  float64
 4   pickup_latitude    120000 non-null  float64
 5   dropoff_longitude  120000 non-null  float64
 6   dropoff_latitude   120000 non-null  float64
 7   passenger_count    120000 non-null  int64
 8   distance_km        120000 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(6), int64(2)
memory usage: 8.2 MB

In [ ]:
df.head()

            pickup_datetime  fare_amount  ...  passenger_count  distance_km
0 2010-04-19 08:17:56+00:00          6.5  ...                1     2.126312
1 2010-04-17 15:43:53+00:00          6.9  ...                1     1.392307
2 2010-04-17 11:23:26+00:00         10.1  ...                2     3.326763
3 2010-04-11 21:25:03+00:00          8.9  ...                1     1.864129
4 2010-04-17 02:19:01+00:00         19.7  ...                1     7.231321

[5 rows x 9 columns]

In [ ]:
## Adjusting 4 hours difference than the actual time

df['edtdate'] = pd.to_datetime(df['pickup_datetime']) - pd.Timedelta(hours=4)

In [ ]:
df.head()

            pickup_datetime  fare_amount  ...  distance_km                   edtdate
0 2010-04-19 08:17:56+00:00          6.5  ...     2.126312 2010-04-19 04:17:56+00:00
1 2010-04-17 15:43:53+00:00          6.9  ...     1.392307 2010-04-17 11:43:53+00:00
2 2010-04-17 11:23:26+00:00         10.1  ...     3.326763 2010-04-17 07:23:26+00:00
3 2010-04-11 21:25:03+00:00          8.9  ...     1.864129 2010-04-11 17:25:03+00:00
4 2010-04-17 02:19:01+00:00         19.7  ...     7.231321 2010-04-16 22:19:01+00:00

[5 rows x 10 columns]

In [ ]:
df['Hour'] = df['edtdate'].dt.hour

In [ ]:
df['am_or_pm'] = np.where(df['Hour']<12, 'am', 'pm')

In [ ]:
df['weekday'] = df['edtdate'].dt.strftime("%a")

In [ ]:
df.columns

Index(['pickup_datetime', 'fare_amount', 'fare_class', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'distance_km', 'edtdate', 'Hour', 'am_or_pm',
       'weekday'],
      dtype='object')

In [ ]:
cat_cols = ['Hour', 'am_or_pm', 'weekday']
cont_cols = ['pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'distance_km']

In [ ]:
y_col = ['fare_class']

In [ ]:
for cat in cat_cols:
    df[cat] = df[cat].astype('category')

In [ ]:
df.dtypes

pickup_datetime      datetime64[ns, UTC]
fare_amount                      float64
fare_class                         int64
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                    int64
distance_km                      float64
edtdate              datetime64[ns, UTC]
Hour                            category
am_or_pm                        category
weekday                         category
dtype: object

In [ ]:
df.Hour.head()

0     4
1    11
2     7
3    17
4    22
Name: Hour, dtype: category
Categories (24, int64): [0, 1, 2, 3, ..., 20, 21, 22, 23]

In [ ]:
hr = df['Hour'].cat.codes.values
am_pm = df['am_or_pm'].cat.codes.values
wkdy = df['weekday'].cat.codes.values

In [ ]:
hr

array([ 4, 11,  7, ..., 14,  4, 12], dtype=int8)

In [ ]:
cats = np.stack([hr,am_pm,wkdy], axis=1)
cats

array([[ 4,  0,  1],
       [11,  0,  2],
       [ 7,  0,  2],
       ...,
       [14,  1,  3],
       [ 4,  0,  5],
       [12,  1,  2]], dtype=int8)

In [ ]:
cats = torch.tensor(cats, dtype=torch.int64)

In [ ]:
### Stacking the continous columns

conts = np.stack([df[col].values for col in cont_cols], axis=1)

In [ ]:
conts

array([[-73.992365  ,  40.730521  , -73.975499  ,  40.744746  ,
          1.        ,   2.12631159],
       [-73.990078  ,  40.740558  , -73.974232  ,  40.744114  ,
          1.        ,   1.39230687],
       [-73.994149  ,  40.751118  , -73.960064  ,  40.766235  ,
          2.        ,   3.32676344],
       ...,
       [-73.988574  ,  40.749772  , -74.011541  ,  40.707799  ,
          3.        ,   5.05252282],
       [-74.004449  ,  40.724529  , -73.992697  ,  40.730765  ,
          1.        ,   1.20892296],
       [-73.955415  ,  40.77192   , -73.967623  ,  40.763015  ,
          3.        ,   1.42739869]])

In [ ]:
### Converting it into tensors

conts = torch.tensor(conts, dtype=torch.float)
conts

tensor([[-73.9924,  40.7305, -73.9755,  40.7447,   1.0000,   2.1263],
        [-73.9901,  40.7406, -73.9742,  40.7441,   1.0000,   1.3923],
        [-73.9941,  40.7511, -73.9601,  40.7662,   2.0000,   3.3268],
        ...,
        [-73.9886,  40.7498, -74.0115,  40.7078,   3.0000,   5.0525],
        [-74.0044,  40.7245, -73.9927,  40.7308,   1.0000,   1.2089],
        [-73.9554,  40.7719, -73.9676,  40.7630,   3.0000,   1.4274]])

In [ ]:
### Converting the label column into tensor

y = torch.tensor(df[y_col].values).flatten()

In [ ]:
conts.shape

torch.Size([120000, 6])

In [ ]:
y.shape

torch.Size([120000])

In [ ]:
### Defining embedding sizes

cat_sizes = [len(df[col].cat.categories) for col in cat_cols]
cat_sizes

[24, 2, 7]

* 24 - 24 hours in a day
* 2 - am or pm
* 7 - 7 days a week

In [ ]:
emb_sizes = [(size, min(50,(size+1)//2)) for size in cat_sizes]
emb_sizes

[(24, 12), (2, 1), (7, 4)]

In [ ]:
### Creating the embedding layer

selfembeds = nn.ModuleList([nn.Embedding(ni, nf) for ni,nf in emb_sizes])
selfembeds

ModuleList(
  (0): Embedding(24, 12)
  (1): Embedding(2, 1)
  (2): Embedding(7, 4)
)

In [ ]:
class TabularModel(nn.Module):
    
    def __init__(self, emb_sizes, n_cont, out_szs, layers, p=0.4):
        super().__init__()
        
        self.embeds = nn.ModuleList([nn.Embedding(ni, nf) for ni,nf in emb_sizes])
        self.emb_drop = nn.Dropout(p)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        
        layer_list = []
        n_emb = sum([nf for ni,nf in emb_sizes])
        n_in = n_emb + n_cont
        
        for i in layers:
            layer_list.append(nn.Linear(n_in, i))
            layer_list.append(nn.ReLU(inplace=True))
            layer_list.append(nn.BatchNorm1d(i))
            layer_list.append(nn.Dropout(p))
            n_in = i
            
        layer_list.append(nn.Linear(layers[-1], out_szs))
        
        self.layers = nn.Sequential(*layer_list)
        
    def forward(self, x_cat, x_cont):
        embeddings = []
        
        for i,e in enumerate(self.embeds):
            embeddings.append(e(x_cat[:,i]))
            
        x = torch.cat(embeddings, 1)
        x = self.emb_drop(x)
        
        x_cont = self.bn_cont(x_cont)
        x = torch.cat([x,x_cont], 1)
        x = self.layers(x)
        
        return x

In [ ]:
torch.manual_seed(33)
model = TabularModel(emb_sizes, conts.shape[1], 2,[512,256,128,64,32,16,8,4], p=0.4)

In [ ]:
model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(24, 12)
    (1): Embedding(2, 1)
    (2): Embedding(7, 4)
  )
  (emb_drop): Dropout(p=0.4, inplace=False)
  (bn_cont): BatchNorm1d(6, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=23, out_features=512, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.4, inplace=False)
    (4): Linear(in_features=512, out_features=256, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.4, inplace=False)
    (8): Linear(in_features=256, out_features=128, bias=True)
    (9): ReLU(inplace=True)
    (10): BatchNorm1d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (11): Dropout(p=0.4, inplace=False)
    (12): Linear(in_features=128, out_features=64, bias=True)
    (13): ReLU(inplace=True)
    (14): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (15): Dropout(p=0.4, inplace=False)
    (16): Linear(in_features=64, out_features=32, bias=True)
    (17): ReLU(inplace=True)
    (18): BatchNorm1d(32, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (19): Dropout(p=0.4, inplace=False)
    (20): Linear(in_features=32, out_features=16, bias=True)
    (21): ReLU(inplace=True)
    (22): BatchNorm1d(16, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (23): Dropout(p=0.4, inplace=False)
    (24): Linear(in_features=16, out_features=8, bias=True)
    (25): ReLU(inplace=True)
    (26): BatchNorm1d(8, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (27): Dropout(p=0.4, inplace=False)
    (28): Linear(in_features=8, out_features=4, bias=True)
    (29): ReLU(inplace=True)
    (30): BatchNorm1d(4, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (31): Dropout(p=0.4, inplace=False)
    (32): Linear(in_features=4, out_features=2, bias=True)
  )
)

In [ ]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [ ]:
batch_size = 60000
test_size = 12000

cat_train = cats[:batch_size-test_size]
cat_test = cats[batch_size-test_size:batch_size]
con_train = conts[:batch_size-test_size]
con_test = conts[batch_size-test_size:batch_size]
y_train = y[:batch_size-test_size]
y_test = y[batch_size-test_size:batch_size]

In [ ]:
len(cat_train)

48000

In [ ]:
len(con_train)

48000

In [ ]:
import time

start_time = time.time()

final_losses = []

for epochs in range(500):
    optimizer.zero_grad()
    y_pred = model(cat_train, con_train)
    loss = criterion(y_pred, y_train)
    final_losses.append(loss)
    loss.backward()
    optimizer.step()
    print(f"Epoch {epochs+1}, loss: {loss.item()}")
    
duration = time.time() - start_time
print(f"Training took {duration/60} minutes")

Epoch 1, loss: 0.786492109298706
Epoch 2, loss: 0.7599474191665649
Epoch 3, loss: 0.7431825399398804
Epoch 4, loss: 0.7289867997169495
Epoch 5, loss: 0.7162765264511108
Epoch 6, loss: 0.7018154263496399
Epoch 7, loss: 0.6857132315635681
Epoch 8, loss: 0.6677822470664978
Epoch 9, loss: 0.6478736400604248
Epoch 10, loss: 0.629460871219635
Epoch 11, loss: 0.6097440123558044
Epoch 12, loss: 0.5911988019943237
Epoch 13, loss: 0.5713203549385071
Epoch 14, loss: 0.5539056658744812
Epoch 15, loss: 0.535883367061615
Epoch 16, loss: 0.5182732939720154
Epoch 17, loss: 0.5004512071609497
Epoch 18, loss: 0.48439812660217285
Epoch 19, loss: 0.47056108713150024
Epoch 20, loss: 0.45794230699539185
Epoch 21, loss: 0.4468759000301361
Epoch 22, loss: 0.433726966381073
Epoch 23, loss: 0.422888845205307
Epoch 24, loss: 0.4141196012496948
Epoch 25, loss: 0.4077257812023163
Epoch 26, loss: 0.3997918665409088
Epoch 27, loss: 0.39301785826683044
Epoch 28, loss: 0.3859860897064209
Epoch 29, loss: 0.38428324460983276
Epoch 30, loss: 0.37963685393333435
Epoch 31, loss: 0.3768872022628784
Epoch 32, loss: 0.36757779121398926
Epoch 33, loss: 0.3703646659851074
Epoch 34, loss: 0.36212629079818726
Epoch 35, loss: 0.36199185252189636
Epoch 36, loss: 0.35939693450927734
Epoch 37, loss: 0.3545220196247101
Epoch 38, loss: 0.35763251781463623
Epoch 39, loss: 0.35258564352989197
Epoch 40, loss: 0.3507944643497467
Epoch 41, loss: 0.3512275516986847
Epoch 42, loss: 0.34694474935531616
Epoch 43, loss: 0.34612080454826355
Epoch 44, loss: 0.345939040184021
Epoch 45, loss: 0.3473150134086609
Epoch 46, loss: 0.34580132365226746
Epoch 47, loss: 0.34580546617507935
Epoch 48, loss: 0.34090033173561096
Epoch 49, loss: 0.3407873809337616
Epoch 50, loss: 0.34238138794898987
Epoch 51, loss: 0.3395768105983734
Epoch 52, loss: 0.33960452675819397
Epoch 53, loss: 0.3414178490638733
Epoch 54, loss: 0.33589208126068115
Epoch 55, loss: 0.3412134349346161
Epoch 56, loss: 0.33921054005622864
Epoch 57, loss: 0.3364833891391754
Epoch 58, loss: 0.3355332314968109
Epoch 59, loss: 0.3348751962184906
Epoch 60, loss: 0.33033275604248047
Epoch 61, loss: 0.3327891528606415
Epoch 62, loss: 0.33320480585098267
Epoch 63, loss: 0.3320405185222626
Epoch 64, loss: 0.3330552279949188
Epoch 65, loss: 0.3278040289878845
Epoch 66, loss: 0.3322204649448395
Epoch 67, loss: 0.328298956155777
Epoch 68, loss: 0.3288695216178894
Epoch 69, loss: 0.326136976480484
Epoch 70, loss: 0.3259558379650116
Epoch 71, loss: 0.3234627842903137
Epoch 72, loss: 0.32319772243499756
Epoch 73, loss: 0.3216245174407959
Epoch 74, loss: 0.3190559446811676
Epoch 75, loss: 0.32010510563850403
Epoch 76, loss: 0.3179302513599396
Epoch 77, loss: 0.3186195194721222
Epoch 78, loss: 0.3155767321586609
Epoch 79, loss: 0.31787002086639404
Epoch 80, loss: 0.31389084458351135
Epoch 81, loss: 0.3124610483646393
Epoch 82, loss: 0.31224027276039124
Epoch 83, loss: 0.31052711606025696
Epoch 84, loss: 0.309516578912735
Epoch 85, loss: 0.30783987045288086
Epoch 86, loss: 0.3074720501899719
Epoch 87, loss: 0.3086104989051819
Epoch 88, loss: 0.3079661428928375
Epoch 89, loss: 0.3088887631893158
Epoch 90, loss: 0.3067381978034973
Epoch 91, loss: 0.30414462089538574
Epoch 92, loss: 0.3045891225337982
Epoch 93, loss: 0.30448174476623535
Epoch 94, loss: 0.3037765622138977
Epoch 95, loss: 0.3005679249763489
Epoch 96, loss: 0.2997054159641266
Epoch 97, loss: 0.3027122914791107
Epoch 98, loss: 0.303345263004303
Epoch 99, loss: 0.29705512523651123
Epoch 100, loss: 0.2978743314743042
Epoch 101, loss: 0.30122849345207214
Epoch 102, loss: 0.2978043556213379
Epoch 103, loss: 0.2943485975265503
Epoch 104, loss: 0.29737383127212524
Epoch 105, loss: 0.2954117953777313
Epoch 106, loss: 0.29411908984184265
Epoch 107, loss: 0.29543688893318176
Epoch 108, loss: 0.29353463649749756
Epoch 109, loss: 0.2895079553127289
Epoch 110, loss: 0.2929990291595459
Epoch 111, loss: 0.289829820394516
Epoch 112, loss: 0.29293093085289
Epoch 113, loss: 0.29391661286354065
Epoch 114, loss: 0.29091569781303406
Epoch 115, loss: 0.2898798882961273
Epoch 116, loss: 0.28846120834350586
Epoch 117, loss: 0.2904714047908783
Epoch 118, loss: 0.28978121280670166
Epoch 119, loss: 0.28989773988723755
Epoch 120, loss: 0.28461363911628723
Epoch 121, loss: 0.28318533301353455
Epoch 122, loss: 0.2876760959625244
Epoch 123, loss: 0.2869567573070526
Epoch 124, loss: 0.28567418456077576
Epoch 125, loss: 0.2885931134223938
Epoch 126, loss: 0.2879185676574707
Epoch 127, loss: 0.28576457500457764
Epoch 128, loss: 0.2827942967414856
Epoch 129, loss: 0.2837969660758972
Epoch 130, loss: 0.2844580113887787
Epoch 131, loss: 0.2831617295742035
Epoch 132, loss: 0.28441596031188965
Epoch 133, loss: 0.2847161591053009
Epoch 134, loss: 0.282436728477478
Epoch 135, loss: 0.2828865647315979
Epoch 136, loss: 0.2842472195625305
Epoch 137, loss: 0.2835492789745331
Epoch 138, loss: 0.2832466959953308
Epoch 139, loss: 0.2796344757080078
Epoch 140, loss: 0.28127339482307434
Epoch 141, loss: 0.27691593766212463
Epoch 142, loss: 0.2814509868621826
Epoch 143, loss: 0.28297126293182373
Epoch 144, loss: 0.28204894065856934
Epoch 145, loss: 0.27676886320114136
Epoch 146, loss: 0.27867770195007324
Epoch 147, loss: 0.2795121371746063
Epoch 148, loss: 0.27879664301872253
Epoch 149, loss: 0.2797958254814148
Epoch 150, loss: 0.2814180552959442
Epoch 151, loss: 0.27689453959465027
Epoch 152, loss: 0.27969202399253845
Epoch 153, loss: 0.2811278998851776
Epoch 154, loss: 0.2802005708217621
Epoch 155, loss: 0.27729806303977966
Epoch 156, loss: 0.27880436182022095
Epoch 157, loss: 0.27624887228012085
Epoch 158, loss: 0.2785114645957947
Epoch 159, loss: 0.2785351872444153
Epoch 160, loss: 0.2751152813434601
Epoch 161, loss: 0.27453646063804626
Epoch 162, loss: 0.2787744402885437
Epoch 163, loss: 0.27862095832824707
Epoch 164, loss: 0.27565887570381165
Epoch 165, loss: 0.27810949087142944
Epoch 166, loss: 0.2742586135864258
Epoch 167, loss: 0.2746705412864685
Epoch 168, loss: 0.27510425448417664
Epoch 169, loss: 0.27639997005462646
Epoch 170, loss: 0.2757910192012787
Epoch 171, loss: 0.2781795263290405
Epoch 172, loss: 0.27446916699409485
Epoch 173, loss: 0.2746392488479614
Epoch 174, loss: 0.27684569358825684
Epoch 175, loss: 0.27342262864112854
Epoch 176, loss: 0.2756475508213043
Epoch 177, loss: 0.2736625075340271
Epoch 178, loss: 0.2729477286338806
Epoch 179, loss: 0.2748897075653076
Epoch 180, loss: 0.2714250981807709
Epoch 181, loss: 0.2720603942871094
Epoch 182, loss: 0.2710927426815033
Epoch 183, loss: 0.27578508853912354
Epoch 184, loss: 0.27187031507492065
Epoch 185, loss: 0.27165743708610535
Epoch 186, loss: 0.2726471424102783
Epoch 187, loss: 0.27278319001197815
Epoch 188, loss: 0.2693238854408264
Epoch 189, loss: 0.2688084542751312
Epoch 190, loss: 0.2704011797904968
Epoch 191, loss: 0.2715635597705841
Epoch 192, loss: 0.27119287848472595
Epoch 193, loss: 0.2703704237937927
Epoch 194, loss: 0.272087424993515
Epoch 195, loss: 0.27017369866371155
Epoch 196, loss: 0.2712502181529999
Epoch 197, loss: 0.27112194895744324
Epoch 198, loss: 0.2697196900844574
Epoch 199, loss: 0.27228954434394836
Epoch 200, loss: 0.27007192373275757
Epoch 201, loss: 0.27235740423202515
Epoch 202, loss: 0.27046892046928406
Epoch 203, loss: 0.26963627338409424
Epoch 204, loss: 0.2689651548862457
Epoch 205, loss: 0.2727338373661041
Epoch 206, loss: 0.26797056198120117
Epoch 207, loss: 0.269329309463501
Epoch 208, loss: 0.27023035287857056
Epoch 209, loss: 0.2694452106952667
Epoch 210, loss: 0.2708337903022766
Epoch 211, loss: 0.26917001605033875
Epoch 212, loss: 0.2672751545906067
Epoch 213, loss: 0.2704545259475708
Epoch 214, loss: 0.26695653796195984
Epoch 215, loss: 0.26721641421318054
Epoch 216, loss: 0.26911261677742004
Epoch 217, loss: 0.2683317959308624
Epoch 218, loss: 0.2688218653202057
Epoch 219, loss: 0.26668334007263184
Epoch 220, loss: 0.26934054493904114
Epoch 221, loss: 0.26343151926994324
Epoch 222, loss: 0.26832082867622375
Epoch 223, loss: 0.2667924761772156
Epoch 224, loss: 0.2643182873725891
Epoch 225, loss: 0.2644388973712921
Epoch 226, loss: 0.26661550998687744
Epoch 227, loss: 0.26621830463409424
Epoch 228, loss: 0.26471400260925293
Epoch 229, loss: 0.2671129107475281
Epoch 230, loss: 0.2659448981285095
Epoch 231, loss: 0.26527470350265503
Epoch 232, loss: 0.26318010687828064
Epoch 233, loss: 0.2657696604728699
Epoch 234, loss: 0.26310911774635315
Epoch 235, loss: 0.2615126371383667
Epoch 236, loss: 0.2657370865345001
Epoch 237, loss: 0.2646060883998871
Epoch 238, loss: 0.2644909620285034
Epoch 239, loss: 0.2625928223133087
Epoch 240, loss: 0.26506736874580383
Epoch 241, loss: 0.2689327895641327
Epoch 242, loss: 0.2651347219944
Epoch 243, loss: 0.26516690850257874
Epoch 244, loss: 0.26569655537605286
Epoch 245, loss: 0.26441070437431335
Epoch 246, loss: 0.2639976739883423
Epoch 247, loss: 0.2623772621154785
Epoch 248, loss: 0.2650245428085327
Epoch 249, loss: 0.26531490683555603
Epoch 250, loss: 0.26263663172721863
Epoch 251, loss: 0.2652224600315094
Epoch 252, loss: 0.26418444514274597
Epoch 253, loss: 0.26213619112968445
Epoch 254, loss: 0.26394495368003845
Epoch 255, loss: 0.2622416913509369
Epoch 256, loss: 0.26245254278182983
Epoch 257, loss: 0.2644155025482178
Epoch 258, loss: 0.2637239098548889
Epoch 259, loss: 0.26263782382011414
Epoch 260, loss: 0.26351213455200195
Epoch 261, loss: 0.2629946172237396
Epoch 262, loss: 0.26509585976600647
Epoch 263, loss: 0.26204216480255127
Epoch 264, loss: 0.26135608553886414
Epoch 265, loss: 0.2626800239086151
Epoch 266, loss: 0.26072028279304504
Epoch 267, loss: 0.26118800044059753
Epoch 268, loss: 0.26103177666664124
Epoch 269, loss: 0.2614264190196991
Epoch 270, loss: 0.26254332065582275
Epoch 271, loss: 0.26024407148361206
Epoch 272, loss: 0.2609251141548157
Epoch 273, loss: 0.26208895444869995
Epoch 274, loss: 0.2590561807155609
Epoch 275, loss: 0.2600487768650055
Epoch 276, loss: 0.2621806859970093
Epoch 277, loss: 0.26169851422309875
Epoch 278, loss: 0.2606256604194641
Epoch 279, loss: 0.25927630066871643
Epoch 280, loss: 0.26037395000457764
Epoch 281, loss: 0.25948965549468994
Epoch 282, loss: 0.26156267523765564
Epoch 283, loss: 0.26276475191116333
Epoch 284, loss: 0.2581097483634949
Epoch 285, loss: 0.25971537828445435
Epoch 286, loss: 0.2583710551261902
Epoch 287, loss: 0.26278120279312134
Epoch 288, loss: 0.2583175003528595
Epoch 289, loss: 0.2597635090351105
Epoch 290, loss: 0.25984805822372437
Epoch 291, loss: 0.26330265402793884
Epoch 292, loss: 0.2612210512161255
Epoch 293, loss: 0.25816404819488525
Epoch 294, loss: 0.2589285969734192
Epoch 295, loss: 0.2613348662853241
Epoch 296, loss: 0.25860512256622314
Epoch 297, loss: 0.25738009810447693
Epoch 298, loss: 0.25973308086395264
Epoch 299, loss: 0.2599000930786133
Epoch 300, loss: 0.2602934241294861
Epoch 301, loss: 0.256522536277771
Epoch 302, loss: 0.2574407458305359
Epoch 303, loss: 0.25653767585754395
Epoch 304, loss: 0.25983625650405884
Epoch 305, loss: 0.2586980164051056
Epoch 306, loss: 0.25624755024909973
Epoch 307, loss: 0.25570738315582275
Epoch 308, loss: 0.25754818320274353
Epoch 309, loss: 0.2584611773490906
Epoch 310, loss: 0.26041993498802185
Epoch 311, loss: 0.2603360414505005
Epoch 312, loss: 0.25785502791404724
Epoch 313, loss: 0.2577435374259949
Epoch 314, loss: 0.2571205496788025
Epoch 315, loss: 0.2571522891521454
Epoch 316, loss: 0.2555113434791565
Epoch 317, loss: 0.2584872543811798
Epoch 318, loss: 0.25831329822540283
Epoch 319, loss: 0.2576785683631897
Epoch 320, loss: 0.2570669949054718
Epoch 321, loss: 0.25985410809516907
Epoch 322, loss: 0.2609812319278717
Epoch 323, loss: 0.25608453154563904
Epoch 324, loss: 0.2554675340652466
Epoch 325, loss: 0.2567274868488312
Epoch 326, loss: 0.25634339451789856
Epoch 327, loss: 0.255230575799942
Epoch 328, loss: 0.2553721070289612
Epoch 329, loss: 0.25637000799179077
Epoch 330, loss: 0.2593652009963989
Epoch 331, loss: 0.2561117708683014
Epoch 332, loss: 0.2600904703140259
Epoch 333, loss: 0.25571349263191223
Epoch 334, loss: 0.25617271661758423
Epoch 335, loss: 0.25490111112594604
Epoch 336, loss: 0.25669172406196594
Epoch 337, loss: 0.2531525790691376
Epoch 338, loss: 0.25447118282318115
Epoch 339, loss: 0.2550540268421173
Epoch 340, loss: 0.25694674253463745
Epoch 341, loss: 0.2577759325504303
Epoch 342, loss: 0.25697752833366394
Epoch 343, loss: 0.2525348663330078
Epoch 344, loss: 0.25770795345306396
Epoch 345, loss: 0.25759562849998474
Epoch 346, loss: 0.25484853982925415
Epoch 347, loss: 0.2548619508743286
Epoch 348, loss: 0.25324004888534546
Epoch 349, loss: 0.2566385567188263
Epoch 350, loss: 0.2553136348724365
Epoch 351, loss: 0.253481924533844
Epoch 352, loss: 0.25525081157684326
Epoch 353, loss: 0.25490227341651917
Epoch 354, loss: 0.25303345918655396
Epoch 355, loss: 0.25855815410614014
Epoch 356, loss: 0.25412797927856445
Epoch 357, loss: 0.25482994318008423
Epoch 358, loss: 0.2561642527580261
Epoch 359, loss: 0.25410136580467224
Epoch 360, loss: 0.2539050579071045
Epoch 361, loss: 0.25356703996658325
Epoch 362, loss: 0.2544125020503998
Epoch 363, loss: 0.2543194890022278
Epoch 364, loss: 0.2550983130931854
Epoch 365, loss: 0.2543869912624359
Epoch 366, loss: 0.25464171171188354
Epoch 367, loss: 0.2557505667209625
Epoch 368, loss: 0.25185635685920715
Epoch 369, loss: 0.2527025640010834
Epoch 370, loss: 0.2544689476490021
Epoch 371, loss: 0.2517565190792084
Epoch 372, loss: 0.25248217582702637
Epoch 373, loss: 0.25328323245048523
Epoch 374, loss: 0.2550048232078552
Epoch 375, loss: 0.253102570772171
Epoch 376, loss: 0.254901647567749
Epoch 377, loss: 0.2530826926231384
Epoch 378, loss: 0.25510621070861816
Epoch 379, loss: 0.25245246291160583
Epoch 380, loss: 0.2548021972179413
Epoch 381, loss: 0.25478795170783997
Epoch 382, loss: 0.2528373897075653
Epoch 383, loss: 0.2522767186164856
Epoch 384, loss: 0.25327154994010925
Epoch 385, loss: 0.2545647919178009
Epoch 386, loss: 0.25517916679382324
Epoch 387, loss: 0.2559692859649658
Epoch 388, loss: 0.2543347477912903
Epoch 389, loss: 0.2545638978481293
Epoch 390, loss: 0.25301724672317505
Epoch 391, loss: 0.2542877793312073
Epoch 392, loss: 0.25178202986717224
Epoch 393, loss: 0.2524852156639099
Epoch 394, loss: 0.2522693872451782
Epoch 395, loss: 0.25390300154685974
Epoch 396, loss: 0.2546323537826538
Epoch 397, loss: 0.254256933927536
Epoch 398, loss: 0.2523443102836609
Epoch 399, loss: 0.2537209987640381
Epoch 400, loss: 0.25226786732673645
Epoch 401, loss: 0.2525229752063751
Epoch 402, loss: 0.25118184089660645
Epoch 403, loss: 0.25231626629829407
Epoch 404, loss: 0.25074347853660583
Epoch 405, loss: 0.25416383147239685
Epoch 406, loss: 0.25269821286201477
Epoch 407, loss: 0.2550572454929352
Epoch 408, loss: 0.2523174583911896
Epoch 409, loss: 0.2539256513118744
Epoch 410, loss: 0.2514449656009674
Epoch 411, loss: 0.25327131152153015
Epoch 412, loss: 0.25346246361732483
Epoch 413, loss: 0.25047823786735535
Epoch 414, loss: 0.25145959854125977
Epoch 415, loss: 0.25123903155326843
Epoch 416, loss: 0.25254184007644653
Epoch 417, loss: 0.25264331698417664
Epoch 418, loss: 0.25259020924568176
Epoch 419, loss: 0.25096797943115234
Epoch 420, loss: 0.2492375522851944
Epoch 421, loss: 0.25245970487594604
Epoch 422, loss: 0.25122639536857605
Epoch 423, loss: 0.2549094557762146
Epoch 424, loss: 0.2524860203266144
Epoch 425, loss: 0.24800315499305725
Epoch 426, loss: 0.2523825168609619
Epoch 427, loss: 0.24951761960983276
Epoch 428, loss: 0.2525954246520996
Epoch 429, loss: 0.25099486112594604
Epoch 430, loss: 0.2521991729736328
Epoch 431, loss: 0.25202035903930664
Epoch 432, loss: 0.25302305817604065
Epoch 433, loss: 0.24933306872844696
Epoch 434, loss: 0.2501274347305298
Epoch 435, loss: 0.24808239936828613
Epoch 436, loss: 0.2531248927116394
Epoch 437, loss: 0.2520495355129242
Epoch 438, loss: 0.2512862980365753
Epoch 439, loss: 0.25117096304893494
Epoch 440, loss: 0.2530953288078308
Epoch 441, loss: 0.2509079873561859
Epoch 442, loss: 0.2507365643978119
Epoch 443, loss: 0.25306347012519836
Epoch 444, loss: 0.25295183062553406
Epoch 445, loss: 0.2510208487510681
Epoch 446, loss: 0.25057294964790344
Epoch 447, loss: 0.25207608938217163
Epoch 448, loss: 0.2510220408439636
Epoch 449, loss: 0.2512284219264984
Epoch 450, loss: 0.25407421588897705
Epoch 451, loss: 0.24902911484241486
Epoch 452, loss: 0.2520673871040344
Epoch 453, loss: 0.2502667307853699
Epoch 454, loss: 0.2507309317588806
Epoch 455, loss: 0.24869342148303986
Epoch 456, loss: 0.24922913312911987
Epoch 457, loss: 0.2521524429321289
Epoch 458, loss: 0.2485511302947998
Epoch 459, loss: 0.2519950568675995
Epoch 460, loss: 0.24921445548534393
Epoch 461, loss: 0.2477165162563324
Epoch 462, loss: 0.2502371668815613
Epoch 463, loss: 0.25023412704467773
Epoch 464, loss: 0.24936944246292114

In [ ]:
### PLotting the loss function

plt.plot(range(epochs), final_losses)
plt.ylabel('Cross Entropy Loss')
plt.xlabel('epoch');

In [ ]:
# TO EVALUATE THE ENTIRE TEST SET
with torch.no_grad():
    y_val = model(cat_test, con_test)
    loss = criterion(y_val, y_test)
print(f'CE Loss: {loss:.8f}')

In [ ]:
rows = 50
correct = 0
print(f'{"MODEL OUTPUT":26} ARGMAX  Y_TEST')
for i in range(rows):
    print(f'{str(y_val[i]):26} {y_val[i].argmax():^7}{y_test[i]:^7}')
    if y_val[i].argmax().item() == y_test[i]:
        correct += 1
print(f'\n{correct} out of {rows} = {100*correct/rows:.2f}% correct')